.ManagerNav{
    width : 100%;
    height : 30px;
    margin: 0 auto;
    display : inline-block;
}

.ManagerNavList{
    width : 100%;
    margin: 0 auto;
    padding-left : 50;
}

.ManagerListItem{
    list-style: none;
}

.ManagerNavInlineBlock{
    display : inline-block;
}